.App {
  text-align: center;
}

.App-header {
  width: 100%;
  max-width: 100%;
}

/* Responsive design */
@media (min-width: 600px) {
  .App-header {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .App-header {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .App-header {
    max-width: 1024px;
  }
}
